# Ignore node_modules as they will be installed in the Docker image
node_modules/

# Ignore build artifacts
/dist
/build
/.angular

# Ignore logs and environment files
*.log
*.env

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Docker related files
docker-compose.yml
docker-compose.dev.yml

# Ignore the test files
src/**/*.spec.ts

# Ignore TypeScript declaration files
src/**/*.d.ts

# Ignore Angular configuration files (not needed in the Docker image)
angular.json
tsconfig.json
tsconfig.app.json
tsconfig.spec.json

# Ignore README.md (not needed in the Docker image)
README.md

# Ignore source maps (if you don't need them in production)
src/**/*.map

# Ignore files in Vite's dependencies folder
18.2.5/vite/deps/

.angular
.git
.vscode
